<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristiandoAPP</title>
    <script src="https://kit.fontawesome.com/0bbd10c3a8.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./img/LogoCirculo.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/infoEvento.css">
</head>
<body>
    <header>
        <div class="encabezado-superior">
            <div class="logo">
                <a href="index.html"><img src="./img/LogoPrincipal.png" alt="logo"></a>
            </div>
            <div class="busqueda">
                <input type="search" placeholder="¿Qué deseas buscar?">
            </div>
        </div>

        <div class="contenedor-principal">
            <div class="menu">
                <nav>
                    <ul> 
                        <li><a href="index.html"><i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i> Inicio</a></li>
                        <li><a href="./agenda.html"><i class="fa-solid fa-calendar-week" style="color: #ffffff;"></i>Agenda</a></li>
                        <li><a href="#"><i class="fa-solid fa-address-book" style="color: #ffffff;"></i>Contacto</a></li>
                        <li><a href="./login.html"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>Iniciar sesión</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenedor-evento">
            <div class="detalles-evento">
                <h1 class="titulo-evento">Volver a eventos
                    Lasso - Quedarse Solo Para Siempre World Tour 2023</h1>
            </div>
            <div class="info-evento">
                <img src="./img/Evento1.jpg" alt="Imagen del Evento" class="imagen-evento">
                <hr class="linea-separadora">
                <div class="mapa-evento">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.122719389707!2d-75.56195682500942!3d6.247555293740833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44285887a96eb5%3A0xf81d28dbf9d98b6f!2sTeatro%20Pablo%20Tob%C3%B3n%20Uribe!5e0!3m2!1ses-419!2sco!4v1696865101355!5m2!1ses-419!2sco" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <p class="descripcion-evento">Lasso - Quedarse Solo Para Siempre World Tour 2023 en el Teatro Pablo Tobón Uribe.</p>
            <hr class="linea-separadora">
            <div class="detalles-evento">
                <ul class="iconos-evento">
                    <li><i class="fas fa-calendar-alt"></i> Fecha: 12 de octubre de 2023</li>
                    <li><i class="fas fa-clock"></i> Hora: : 9:00 p. m.</li>
                    <li><i class="fas fa-map-marker-alt"></i> Lugar: Teatro Pablo Tobón Uribe</li>
                    <li><i class="fas fa-phone"></i> Contacto:  (604)2397500</li>
                    <li><i class="fas fa-money-bill-wave"></i> Costos:  Balcón: $170.000 l Lunetas laterales: $200.000 l Luneta central: $235.000</li>
                    <li><i class="fa-solid fa-file" ></i>Categoría del evento: Arte & Cultura, Teatro</li>
                </ul>
            </div>
            <button class="boton-comprar">Comprar Boletos</button>
            <div class="organizador-evento">
                <h2 class="titulo-organizador">Organizado por:</h2>
                <div class="info-organizador">
                    <img src="./img/Teatro.jpeg" alt="Logo de la Entidad" class="logo-organizador">
                    <p class="nombre-organizador">
                        Teatro Pablo Tobón Uribe</p>
                    <p class="ciudad-organizador">Medellín, Antioquia</p>
                </div>
            </div>
        </div>    


        <footer>
            <ul class="social-icons">
                <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <p class="footer-text">Síguenos en nuestras redes sociales para estar al tanto de nuestros eventos. © 2023 TuristiandoApp</p>
        </footer>

    </header>
</body>
</html>