<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuristiandoAPP</title>
    <script src="https://kit.fontawesome.com/0bbd10c3a8.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./img/LogoCirculo.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <div class="encabezado-superior">
            <div class="logo">
                <img src="./img/LogoPrincipal.png" alt="logo">
            </div>
            <div class="busqueda">
                <input type="search" placeholder="¿Qué deseas buscar?">
            </div>
        </div>

        <div class="contenedor">
            <div class="menu">
                <nav>
                    <ul> 
                        <li><a href="#"><i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i> Inicio</a></li>
                        <li><a href="#"><i class="fa-solid fa-calendar-week" style="color: #ffffff;"></i>Agenda</a></li>
                        <li><a href="#"><i class="fa-solid fa-address-book" style="color: #ffffff;"></i>Contacto</a></li>
                        <li><a href="#"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>Iniciar sesión</a></li>

                        <!-- <li><a href="#">Registrarse</a></li> -->
                       
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>